<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
    <title>WorldTraditionalMusic.net</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <article>
        <h1>
            <div class="maintitle">
                <div class="maintitle1">WORLD</div>
                <div class="maintitle2">TRADITIONAL</div>
                <div class="maintitle3">MUSIC.net</div>
            </div>
        </h1>
        <div class="main">
            <div class="index">
            <nav>
                <ul>
                    <li><a href="#">Africa</a></li>
                    <li><a href="#">America</a></li>
                    <li><a href="#">Asia</a></li>
                    <li class="main_index"><a href="#" onclick="ShowSubIndex();">Europe</a></li>
                        <ul>
                            <li class="sub_index"><a href="#">Ireland</a></li>
                            <li class="sub_index"><a href="#">Portugal</a></li>
                        </ul>
                </ul>
            </nav>
            </div>
            
            <%= yield %>
        
        </div>
    </article>

    <script>
    function ShowSubIndex(){
        document.getElementsByClassName("sub_index")[0].style.display = "block";
        document.getElementsByClassName("sub_index")[1].style.display = "block";
       //window.alert("test");
    }
    </script>

</body>
</html>
