<div class="content">  
<section>  
    <h1>About</h1>  
    <p>■MY HISTORY</p>    
    <div class="circle">
        <%= image_tag "fukuoka.jpg" ,:class => "hover_pictures" %>
    </div>
    <div class="main">
        <div class="left_cell">
            1987.11.4 福岡県で生まれる
        </div>
        <div class="right_cell"></div>
    </div>
    <div class="circle">
        <%= image_tag "goroumaru.jpg" ,:class => "hover_pictures" %>
    </div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">
            1994.4 福岡市立鶴田小学校入学
        </div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">
            2000.4 福岡市立百道中学校入学
        </div>
        <div class="right_cell"></div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">2003.4 福岡県立城南高校入学</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">
            2007.4 1年の浪人の末、<br>慶應義塾大学入学
        </div>
        <div class="right_cell"></div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">
            2010.9 ホステスエンタテイメント(レコード会社)に<br>インターンとして入社
        </div>
    </div>
    <div class="circle_important">
        <%= image_tag "chicago.jpg" ,:class => "hover_pictures" %>
    </div>
    <div class="main">
        <div class="left_cell">2011.12 初の海外旅行＠USA</div>
        <div class="right_cell"></div>
    </div>
    <div class="circle">
        <%= image_tag "paris.jpg" ,:class => "hover_pictures" %>
    </div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">2012.2 ２度目の海外旅行＠France</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">2012.4 Pro-X株式会社入社</div>
        <div class="right_cell"></div>
    </div>
    <div class="circle_important"></div>
    <div class="main">
        <div class="left_cell_future"></div>
        <div class="right_cell_future">2016.4 株式会社ユーネット入社?</div>
    </div>
 
</section>  
</div>  
