<div class="content">  
<section>  
    <h1>About</h1>  
    <p>My History</p>    
    <div class="main">
        <div class="left_cell">1987:誕生</div>
        <div class="right_cell"></div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">1993:小学校入学</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">2000:中学校入学</div>
        <div class="right_cell"></div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">RIGHT_CELL</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">LEFT_CELL</div>
        <div class="right_cell"></div>
    </div>
    <div class="circle_important"></div>
    <div class="main">
        <div class="left_cell"></div>
        <div class="right_cell">初の海外旅行</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">LEFT_CELL</div>
        <div class="right_cell">RIGHT_CELL</div>
    </div>
    <div class="circle"></div>
    <div class="main">
        <div class="left_cell">LEFT_CELL</div>
        <div class="right_cell">RIGHT_CELL</div>
    </div>
    <div class="circle"></div>
</section>  
</div>  
