<div class="content">
<section>
    <h1>Thank you for your contacts.<br>
        Wait for my reply to your mail address.
    </h1>
    <p><%= link_to 'Go Back to Home', root_path %></p>
</section>
</div>
